:root {
  --color-background: #ebecf0;
  --color-shadow: #babecc;
  --color-shadow-2: #fff;
  --color-white: #fff;
  --color-black: #000;
  --color-red: #f55;
  --color-green: #5f5;
  --color-blue: #55f;
}

* {
  padding: 0;
  margin: 0;
}

html,
body {
  background: var(--color-background);
  color: var(--color-black);
  font-family: vazir;
  direction: rtl;
}

#logo {
  border-radius: 50%;
  width: 8em;
  display: block;
  margin: 0 auto;
  animation: fadeIn 2s;
}

#header {
  background: var(--color-blue);
  padding: 1em;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

/* 
@media only screen and (max-width: 768px) {
} */
